<div class="content">
  <div class="leftSection"></div>
  <div class="rightSection">
    <form
      class="formLogin"
      [formGroup]="formulario"
      (ngSubmit)="CadastrarUser()"
    >
      <label class="label-login" for="nome">Nome Completo</label>
      <input
        type="text"
        name="nome"
        id="nome"
        class="input"
        formControlName="nomeCompleto"
        required
      />

      <label class="label-login" for="email">Email</label>
      <input
        type="text"
        name="email"
        id="email"
        class="input"
        required
        formControlName="email"
      />

      <label class="label-login" for="cpf">CPF</label>
      <input
        type="text"
        name="cpf"
        id="cpf"
        class="input"
        formControlName="cpf"
        required
      />

      <label class="label-login" for="telefone">Telefone</label>
      <input
        type="text"
        name="telefone"
        id="telefone"
        class="input"
        formControlName="telefone"
        required
      />

      <div class="bottom-form-container">
        <button class="button" type="submit">Cadastrar</button>
        <a [routerLink]="['./users']"
          ><span class="button-login">Login &#10142;</span></a
        >
      </div>
    </form>
  </div>
</div>
