<div class="container">
  <div class="table-container">
    <table class="table">
      <caption>
        Usuários
      </caption>
      <thead>
        <tr>
          <th>Nome Completo</th>
          <th>Email</th>
          <th>CPF</th>
          <th>Telefone</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Victor S Busolin</td>
          <td>victorbusolin@gmail.com</td>
          <td>xxx.xxx.xxx-xx</td>
          <td>16997232195</td>
          <td>
            <button class="delete-button">DEL</button>
          </td>
        </tr>
        <tr>
          <td>Victor S Busolin Junior</td>
          <td>victorbusolin@gmail.com.br</td>
          <td>xxx.xxx.xxx-xx</td>
          <td>18997232195</td>
          <td>
            <button class="delete-button">DEL</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <p>Retorne a página de cadastro <a [routerLink]="['']">aqui!</a></p>
</div>
