body {
  background-color: #fbfbfb;
}

table {
  border-spacing: 0;
}

caption {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

th {
  background-color: var(--label-color);
}

th,
td {
  border-bottom: 1px solid var(--label-color);
  padding: 1rem;
  text-align: left;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 5rem;
  gap: 3rem;
}

.table-container {
  display: block;
  overflow-x: auto;
}

.delete-button {
  padding: 0.5rem 1rem;

  cursor: pointer;
  border: none;
  border-radius: 0.25rem;

  background-color: #dc3545;
  color: white;

  transition: 0.2s;
}

.delete-button:hover {
  background-color: #f9495b;
}

p {
  margin: 2rem auto;
  text-align: center;
}

p a {
  color: var(--label-color);
  border-bottom: 1px solid var(--label-color);
  transition: 0.2s;
}

p a:hover {
  color: #000000;
  border-color: #000000;
}
