<div class="container">
  <div *ngIf="users?.length == 0">
    <h2>Não há nenhum usuário cadastrado ainda!</h2>
  </div>

  <div class="table-container" *ngIf="users?.length > 0">
    <table class="table">
      <caption>
        Usuários
      </caption>
      <thead>
        <tr>
          <th>Index</th>
          <th>Nome Completo</th>
          <th>Email</th>
          <th>CPF</th>
          <th>Telefone</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ user.nomeCompleto }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.cpf }}</td>
          <td>{{ user.telefone }}</td>
          <td>
            <button class="delete-button" type="button" disabled>DEL</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <button
    class="delete-all-button"
    type="button"
    (click)="deleteUsers(user, i)"
    *ngIf="users?.length > 0"
  >
    Deletar todos
  </button>

  <p>Retorne a página de cadastro <a [routerLink]="['']">aqui!</a></p>
</div>
